{% load staticfiles %}
<div class="container-fluid">
	<div class="columns">
		<div class="column is-8 is-spaced">
			<nav class="level">
				<div class="level-left">
					<p class="level-item has-text-centered">{% include "dashboards/timeseries/numbers/mean_day.html" %}</p>
					<p class="level-item has-text-centered">{% include "dashboards/timeseries/numbers/min_day.html" %}</p>
					<p class="level-item has-text-centered">{% include "dashboards/timeseries/numbers/max_day.html" %}</p>
				</div>
			</nav>
			<div class="subtitle">Timeline <help text="Timeline with an horizontal line showing the mean 
				value"></help></div>
			{% include "dashboards/timeseries/charts/day_timeline.html" %}
			<div class="subtitle">Diff from the mean <help text="Percentage difference from the mean value with a linear 
				regression line representing the general tendency"></help></div>
			{% include "dashboards/timeseries/charts/day_difftimeline.html" %}
			<div class="subtitle">Linear regression with marginal distribution <help text="Linear regression line
				representing the general tendency with distribution representing the frequency of the
				values"></help></div>
				<img src="{% static 'dashboards/timeseries/day_linear.png' %}" alt="" />
		<div class="columns">
			<div class="column is-half">
				<div class="subtitle">Density<help text="Density of the values"></help></div>
				<img src="{% static 'dashboards/timeseries/day_density.png' %}" alt="" />
			</div>
			<div class="column is-half">
				<div class="subtitle">Distribution<help text="Distribution of the values reprensenting the
					frequency of the values"></help></div>
				<img src="{% static 'dashboards/timeseries/day_distrib.png' %}" alt="" />
			</div>
		</div>
		</div>
		<div class="column is-spaced">
			<div v-html="msg"></div>
			{% include "dashboards/timeseries/datatables/day.html" %}
		</div>	
	</div>
</div>
